.stage {
	width:100%;
	height:90%;
	background: #AAAAAA
}

.tool {
	width:100%;
	height:10%;
}

.rect {
	z-index:-1;
}

.cir {
	z-index:1;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}