path {
	stroke-miterlimit:10;
}
.A1 {
	fill:rgb(179, 81, 66);
	/*深朱*/
}
.A2 {
	fill: rgb(208, 112, 83);
	/*二朱*/
}
.A3 {
	fill: rgb(228, 99, 80);
	/*三朱*/
}
.A4 {
	fill: rgb(233, 142, 115);
	/*朱華粉*/
}
.A5 {
	fill: rgb(249, 242, 244);
	/*粉暈*/
}
.A6 {
	stroke: rgb(123, 90, 98);
	/*赭筆描道*/
}
.B1 {
	fill: rgb(82, 75, 91);
	/*大青*/
}
.B2 {
	fill: rgb(125, 132, 181);
	/*二青*/
}
.B3 {
	fill: rgb(151, 174, 207);
	/*三青*/
}
.B4 {
	fill: rgb(194, 206, 242);
	/*青華*/
}
.B5 {
	fill: rgb(249, 242, 244);
	/*粉暈*/
}
.B6 {
	stroke: rgb(123, 90, 98);
	/*赭筆描道*/
}
.C1 {
	fill: rgb(124, 129, 104);
	/*大綠*/
}
.C2 {
	fill: rgb(159, 185, 168);
	/*二綠*/
}
.C3 {
	fill: rgb(157, 178, 176);
	/*三綠*/
}
.C4 {
	fill: rgb(206, 213, 208);
	/*綠華*/
}
.C5 {
	fill: rgb(249, 242, 244);
	/*粉暈*/
}
.C6 {
	stroke: rgb(123, 90, 98);
	/*赭筆描道*/
}
.ring1_1 {
	fill: rgb(233, 142, 115);
	/*朱華粉*/
}
.ring1_2 {
	fill: rgb(252, 233, 201);
	/*粉暈罩藤黃*/
}

.ring2_1 {
	fill: rgb(82, 75, 91);
	/*大青*/
}
.ring2_2 {
	fill: rgb(125, 132, 181);
	/*二青*/
}

.ring3 {
	fill: rgb(252, 233, 201);
	/*粉暈罩藤黃*/
}

.bud {
	fill: rgb(252, 233, 201);
	/*粉暈罩藤黃*/
}

.heart_2{
	fill: rgb(159, 185, 168);
	/*二綠*/
}

.heart_1{
	fill: rgb(124, 129, 104);
	/*大綠*/
}
.background{
	fill: rgb(82, 75, 91);
	/*大青*/
}

.side{
	fill: rgb(194, 206, 242);
	/*青華*/
}